<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mvc.cryptovault_android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--极光必备权限-->
    <!-- Required -->
    <permission
        android:name="com.mvc.cryptovault_android.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required -->
    <uses-permission android:name="com.mvc.cryptovault_android.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".MyApplication"
        android:icon="@mipmap/vp_logo"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/vp_logo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterInvitationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MsgActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HistroyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IncreaseCurrencyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TogeHistroyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MineReceiptQRCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BTCTransferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MineMnemonicsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VPBalanceWithdrawalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CrowdfundingAppointmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TrandRecordingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TrandPurhAndSellActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.TrandPurhAndSellItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.TrandOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FilterOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectLoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.login" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterSetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VerificationMnemonicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetLoginPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VerificationInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ResetPasswordVerificationMnemonicsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SendEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InvatitionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FinancialDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FinancialDepositActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyOptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OptionDetailActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".receiver.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.mvc.cryptovault_android" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.mvc.cryptovault_android" />
            </intent-filter>
        </receiver>
        <!--适配华为（hw）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
    </application>

</manifest>